.blogcardMaindiv {
  width: 100vw;
  background-color: rgb(177, 214, 248);
}
.blogcardmaindiv {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.maindivinnerdiv1 {
  width: 10%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 12%;
}
.maindivinnerdiv1button:nth-child(1) {
  width: 100%;
  margin-top: 50px;
  border: none;
  background-color: rgb(177, 214, 248);
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 15% 80%;
}

.maindivinnerdiv1button {
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: rgb(177, 214, 248);
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bolder;
  border: 2px solid white;
  display: grid;
  grid-template-columns: 15% 80%;
}
button p {
  margin-top: 8px;
}
.maindivinnerdiv1button:hover {
  background-color: rgb(92, 146, 194);
}
.blogcard {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
}
.blogcard img {
  width: 300px;
  height: 250px;
  margin: 0px 20px;
}
.blogcarddiv1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.blogcarddiv1 p {
  font-size: 18px;
}
.blogsLoadingGif {
  display: flex;
  justify-content: center;
  align-items: center;
}
